# scikitlearn tips

In [5]:
import numpy as np
import pandas as pd

In [8]:
from sklearn.model_selection import train_test_split

gen= np.random.default_rng()
a = gen.integers(500,size=[10,2])
index = np.argsort(a, axis=0)
a = a[index[:,0]]

print(f'a=\n{a}')

x_train,x_test,y_train,y_test = train_test_split(a[:,0],a[:,1],test_size=0.3)

xy_df = pd.DataFrame(a,columns=["x","y"])
x_train_df = pd.DataFrame(x_train, columns=["x_train"])
x_test_df = pd.DataFrame(x_test, columns=["x_test"])
y_train_df = pd.DataFrame(y_train, columns=["y_train"])
y_test_df = pd.DataFrame(y_test, columns=["y_test"])

#df3 = df1.merge(df2, how="left", left_on="CID", right_on="Customer_ID")
out_df = xy_df\
        .merge(x_train_df, how="left", left_on="x", right_on="x_train")\
        .merge(x_test_df, how="left", left_on="x", right_on="x_test")\
        .merge(y_train_df, how="left", left_on="y", right_on="y_train")\
        .merge(y_test_df, how="left", left_on="y", right_on="y_test")\

out_df

a=
[[  9 125]
 [ 64 265]
 [105 210]
 [215 484]
 [231  55]
 [297 470]
 [366 454]
 [426 490]
 [430 441]
 [447 404]]

     x    y  x_train  x_test  y_train  y_test
0    9  125      NaN     9.0      NaN   125.0
1   64  265     64.0     NaN    265.0     NaN
2  105  210      NaN   105.0      NaN   210.0
3  215  484    215.0     NaN    484.0     NaN
4  231   55    231.0     NaN     55.0     NaN
5  297  470    297.0     NaN    470.0     NaN
6  366  454    366.0     NaN    454.0     NaN
7  426  490    426.0     NaN    490.0     NaN
8  430  441      NaN   430.0      NaN   441.0
9  447  404    447.0     NaN    404.0     NaN

## 正答率の計算　：　sklearn.metrics.accuracy_score

ここを見よ
https://scikit-learn.org/stable/modules/generated/sklearn.metrics.accuracy_score.html#sklearn.metrics.accuracy_score

In [7]:
from sklearn.metrics import accuracy_score
yt = np.array([0, 1, 2, 3])
yp = np.array([0, 2, 1, 3])
accuracy_score(yt,yp)

0.5

## One Hot Vectorの生成

ここを見よ

* https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html#sklearn.preprocessing.OneHotEncoder

In [ ]:
yt = np.array([0, 1, 2, 0, 1, 2, 0, 0, 1, 0, 1, 2, 1, 2, 1, 0, 1, 0, 2, 0])